* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    max-width: 100%;
    max-height: 100%;
}

body {
    background: #0971ce;
}

.contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url('Palo\ Verde\ DECA\ Horiz\ Blue.png');
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    margin: 1.5rem;
    width: 8em;
    height: 8rem;
}

ul {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

li {
    width: initial;
    margin: 2rem;
    font-size: 1.25rem;
    padding: 2rem;
    background: rgba(255, 255, 255, .1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

li * {
    margin: .3rem;
}

li a {
    margin-top: 1rem;
    text-decoration: none;
    font-size: .8rem;
    opacity: 0.8;
    text-align: left;
    transition: all .2s ease-in-out;
}

li a:hover {
    transform: scale(1.1);
}


li p {
    max-width: 15rem;
    font-size: .9rem;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

.logo {
     width: 20rem;
     height: 20rem;
 }

li {
     font-size: 3rem;
     border-radius: 50px;
}

li p {
    font-size: 2rem;
    max-width: 30rem;
}

li a {
    font-size: 1.7rem;
}

li * {
    margin: 1rem;
}

}